<h1>Show Section</h1> <br><br>

<table border=0 cellspaceing="5">
	<tr>
		<td>Title</td><td>:</td><td><%= @section.title %></td>
	</tr>	
	<tr>
		<td>Video Url</td><td>:</td><td><%= @section.videourl %></td>
	</tr>	
	
</table>	
<br>
<td><%= link_to 'Back', admin_courses_path, class: "btn btn-info" %></td>
<br>